{% extends "base.html" %}
{% load static %}
{% block title %}КДС-Строй: Новости{% endblock title %}
{% block plug_js_css %}
  <script type="module" crossorigin src="{% static 'js/pages/news-list-page.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'css/news-Iqa5z6dR.css' %}">
  <link rel="stylesheet" crossorigin href="{% static 'css/promo_popup.css' %}">
  <link rel="stylesheet" crossorigin href="{% static 'css/popups.css' %}">
{% endblock plug_js_css %}
{% block content %}

<main>
    <section class="news">
        <div class="container news__container">
            <h1 class="news__title">Новости</h1>
{#            <div class="news__controls">#}
{#                <button class="news__controls-date" type="button" id="news-sort-date">Дата</button>#}
{#                <div class="news__controls-themes select">#}
{#                    <input class="select__input" type="hidden" name="number">#}
{#                    <button class="select__current">Тема</button>#}
{#                    <div class="select__list">#}
{#                      {% for category in categories %}#}
{#                        <button class="select__item" data-value="{{ category.slug }}">{{ category.name }}</button>#}
{#                      {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <ul class="news__list">
                {% for news in page_obj %}
                  <li class="news__list-item">
                    <div class="news__list-item-image-wrapper">
                      <a href="{% url 'news:detail' news.id %}">
                        <img src="{{ news.photos.first.photo.url }}" alt="Изображение новости">
                      </a>
                    </div>
                    <div class="news__list-item-content-wrapper">
                        <p class="news__list-item-date">{{ news.published_date }}</p>
                        <a class="news__list-item-link" href="{% url 'news:detail' news.id %}">
                            <h2 class="news__list-item-title">{{ news.title }}</h2>
                        </a>
                        <div class="news__list-item-text">{{ news.content|truncatechars:400|safe}}</div>
                        <a href="{% url 'news:detail' news.id %}">Читать&nbsp;статью&nbsp;полностью</a>
                    </div>
                  </li>
                {% endfor %}
            </ul>
            {% if page_obj.has_other_pages %}
              <div class="news__pagination">
                {% if page_obj.has_previous %}
                  <a class="news__pagination__item" href="?page=1">&laquo;</a>
                  <a class="news__pagination__item" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    <a class="news__pagination__item{% if page_obj.number == i %} news__pagination__item--active{% endif %}" href="?page={{ i }}">{{ i }}</a>
                {% endfor %}
                {% if page_obj.has_next %}
                  <a class="news__pagination__item" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                  <a class="news__pagination__item" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                {% endif %}
              </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}
