asgiref==3.7.2
click==8.1.7
Django==5.0.1
django-bootstrap5==23.4
django-phonenumber-field==7.3.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
phonenumbers==8.13.28
pillow==10.2.0
platformdirs==4.1.0
python-dotenv==1.0.0
sqlparse==0.4.4
