{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h3>Войти на сайт</h3>
    <form method="post" id="loginForm">
      {% csrf_token %}
      {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}
          {% if field.field.required %}<span>*</span>{% endif %}
        </label>
        {{ field }}
        {% if field.errors %}<small style="color: red">{{ field.errors }}</small>{% endif %}
      {% endfor %}
        <button type="submit">Войти</button>
    </form>
  </div>
{% endblock %}