{% extends "base.html" %}
{% load static %}
{% block content %}
  <script src="{% static 'js/phone_verification.js' %}"></script>
  <div class="container">
    <h4>Подтверждение телефонного номера</h4>
    <p>
      Для завершения регистрации вам нужно подтвердить ваш номер телефона.
      В течение нескольких секунд на указанный вами номер поступит звонок.
      Введите последние 4 цифры номера с которого поступит звонок.
    </p>
    <br>
    <p>
      <strong>Внимание!</strong> Если вы не получили звонка, попробуйте повторить запрос через 1 минут.
    </p>
    <div>
      <form method="post" action="{% url 'users:phone_verification' %}">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
          {% if field.errors %}
              <p>{{ field.errors }}</p>
          {% endif %}
        {% endfor %}
        <button type="submit">Подтвердить</button>
      </form>
      <p>Вы можете повторно запросить звонок через:</p>
      <div id="countdown" data-countdown-duration="{{ countdown }}"></div>
      <div id="linkContainer" style="display: none;">
        <a href="{% url 'users:phone_verification' %}">Отправить код повторно</a>
      </div>
    </div>
  </div>
{% endblock %}