{% extends "base.html" %}
{% load static %}
{% block content %}
  <script src="{% static 'js/phone_verification.js' %}"></script>
  <div class="container">
    <h4>Подтверждение телефонного номера</h4>
    <p>
      Для завершения вам нужно подтвердить ваш номер телефона.<br><br>
      Сейчас на указанный вами номер поступит звонок.
      Введите последние 4 цифры входящего номера.
    </p>
    <br>
    <p>
      Если вы не получили звонок, вы можете запросить повторный звонок {% if countdown != 0 %}через:{% endif %}
    </p>
    <div class="countdown_area">
        {% if not is_attempt_limit %}
        <span id="countdown" data-countdown-duration="{{ countdown }}"></span>
      <div id="linkContainer" style="display: none;">
        <button id="repeatCallButton">Повторный звонок</button>
      </div>
        {% else %}
            <p>Вы исчерпали количество попыток для подтверждения номера. Попробуйте позже.</p>
        {% endif %}
    </div>

    <div>
      <form method="post" action="{% url 'users:phone_verification' %}">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
          {% if field.errors %}
              <p>{{ field.errors }}</p>
          {% endif %}
        {% endfor %}
        <button type="submit">Подтвердить</button>
      </form>
    </div>
  </div>
{% endblock %}