{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}
{% block content %}
  <div class="container">
    <div>
        <h4>Страница пользователя {{ profile }}</h4>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
          </form>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="row">
          <div class="col-25">
            {{ field.label_tag }}
          </div>
          <div class="col-75">
            {{ field }}
            {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
          </div>
        </div>
        {% for error in field.errors %}<small>{{ error }}</small>{% endfor %}
      {% endfor %}
        <button type="submit">Сохранить</button>
    </form>
  </div>
{% endblock %}