{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}
{% block content %}
  <div class="container">
    <div>
        <h4>Страница пользователя {{ profile }}</h4>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
          </form>
    </div>
    <form method="get">
      {% csrf_token %}
      {% for field in form %}
        <div class="row">
          <div class="col-25">
            {{ field.label_tag }}
          </div>
          <div class="col-75">
              <input type="text" name="{{ field.name }}" disabled placeholder="{{ field.value }}">
          </div>
        </div>
        {% for error in field.errors %}<small>{{ error }}</small>{% endfor %}
      {% endfor %}
    </form>
    <br>
    <ul>
      <a href="{% url 'users:profile_edit' %}">Редактировать профиль</a>
      <a href="{% url 'password_change' %}">Изменить пароль</a>
    </ul>
    <br>
  </div>
{% endblock %}