{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}
{% block content %}
  <div class="container">
    <div>
        <h2>Страница пользователя {{ profile }}</h2>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>
        <ul>
          <li>Имя пользователя: {{ profile.username }}</li>
          <li>Email: {{ profile.email }} {% if profile.is_active %}(Подтвержден){% else %}(Не подтвержден){% endif %}</li>
          <li>Телефон: {{ profile.phone_number }} {% if profile.is_phone_verified %}(Подтвержден){% else %}(Не подтвержден){% endif %}</li>
          <li>Имя: {% if profile.first_name %}{{ profile.first_name }}{% else %}не указано{% endif %}</li>
          <li>Фамилия: {% if profile.last_name %}{{ profile.last_name }}{% else %}не указано{% endif %}</li>
          <li>Отчество: {% if profile.middle_name %}{{ profile.middle_name }}{% else %}не указано{% endif %}</li>
          <li>Регион: {% if profile.region %}{{ profile.region }}{% else %}не указано{% endif %}</li>
          <li>Город: {% if profile.city %}{{ profile.city }}{% else %}не указано{% endif %}</li>
          <li>Адрес: {% if profile.address %}{{ profile.address }}{% else %}не указано{% endif %}</li>
          <li>Регистрация: {{ profile.date_joined }}</li>
          <li>Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
        </ul>
        <ul>
          <a href="{% url 'users:profile_edit' %}">Редактировать профиль</a>
          <a href="{% url 'password_change' %}">Изменить пароль</a>
        </ul>
      <br>
  </div>
{% endblock %}