{% extends "base.html" %}
{% block content %}
  <div class="container">
      <h4>{{ new_user.first_name }}, ваш аккаунт успешно зарегистрирован</h4>
      <p>
          Теперь вы можете авторизоваться.
          <br>
          Также вам на почту отправлено письмо с подтверждением вашего электронного адреса.
          <br>
          Это нужно, что бы вы смогли восстановить доступ к своему аккаунту в смены телефона или пароля.
      </p>
      <br>
      <div><p><a href="{% url 'login' %}">Войти</a></p></div>
      <div><p><a href="{% url 'home' %}">На главную</a></p></div>
  </div>
{% endblock %}