{% extends "base.html" %}
{% block content %}
    <div class="container">
      <h4>Регистрация пользователя</h4>
      <div>
          <form method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form %}
              {{ field }}
              {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
                <br>
            {% endfor %}
              <button type="submit">
                Зарегистрироваться
              </button>
          </form>
      </div>
      <div class="request_new_link">
        <a href="{% url 'request-new-link-from-email' %}">Отправить письмо верификации ещё раз</a>
      </div>
    </div>
{% endblock %}