{% extends "base.html" %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Регистрация пользователя
      </div>
      <div class="card-body">
        {% include "includes/errors.html" %}
          <form method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form %}
              {{ field }}
            {% endfor %}
              <button type="submit">
                Зарегистрироваться
              </button>
          </form>
      </div>
    </div>
  </div>
{% endblock %}