{% extends "base.html" %}
{% block content %}
  <div class="container">
      <h4>Ошибка верификации</h4>
      {% if status == 'Maxed out!' %}
        <p>Превышен лимит запросов на верификацию аккаунта, свяжитесь с нашим администратором: <a href="mailto: support@kdsstroy.ru">support@kdsstroy.ru</a></p>
      {% elif status == 'Invalid Link' %}
        <p>Ссылка неверна или уже была использована, мы не можем подтвердить регистрацию по этой ссылке</p>
      {% elif status == 'Already Verified!' %}
        <p>Ваш аккаунт уже верифицирован</p>
      {% else %}
        <p>Произошла неизвестная ошибка, свяжитесь с нашим администратором: <a href="mailto: support@kdsstroy.ru">support@kdsstroy.ru</a></p>
      {% endif %}
      <div>
        <p><a href="{% url 'home' %}">На главную</a></p>
      </div>
  </div>
{% endblock %}