<h3>Компания КДС-Строй приветствует вас!</h3>
<br>
<p>Вы получили это письмо потому что прошли регистрацию на нашем сайте <a href="https://www.kdsstroy.ru">kdsstroy.ru</a>.</p>
<p>Для подтверждения регистрации и своего электронного адреса перейдите по ссылке:</p>
<br>
<p>{{ link }}</p>
<br>
<p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
<br>
<br>
<br>
<p>Если у вас возникнут вопросы или пожелания, мы с радостью на них ответим.</p>
<br>
<p>Наши контакты:</p>
<p>Телефон: <a href="tel:+79883872676">+7 (988) 387 26 76</a></p>
<p>Email: <a href = "mailto: support@kdsstroy.ru">support@kdsstroy.ru</a></p>
<br>
<p>C уважением, КДС-Строй</p>
