{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h4>Изменить номер телефона</h4>
    <form method="post" id="PhoneChangeForm">
      {% csrf_token %}
      {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}
          {% if field.field.required %}<span>*</span>{% endif %}
        </label>
        {{ field }}
        {% if field.errors %}<small style="color: red">{{ field.errors }}</small>{% endif %}
      {% endfor %}
        {% if error %}<small style="color: red">{{ error }}</small>{% endif %}
        <button type="submit">Сменить номер</button>
    </form>
  </div>
{% endblock %}