{% extends "base.html" %}
{% load static %}
{% block title %}КДС-Строй::Новости{% endblock title %}
{% block plug_js_css %}
  <script type="module" crossorigin src="{% static 'js/news-vdFL1TXq.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'css/news-Iqa5z6dR.css' %}">
{% endblock plug_js_css %}
{% block content %}

<main>
    <section class="news">
        <div class="container news__container">
            <h1 class="news__title">Новости</h1>
            <div class="news__controls">
                <button class="news__controls-date" type="button" id="news-sort-date">Дата</button>
                <div class="news__controls-themes select">
                    <input class="select__input" type="hidden" name="number">
                    <button class="select__current">Тема</button>
                    <div class="select__list">
                        <button class="select__item" data-value="about">О компании</button>
                        <button class="select__item" data-value="projects">Проекты</button>
                        <button class="select__item" data-value="useful">Полезное</button>
                    </div>
                </div>
            </div>
            <ul class="news__list">
                <li class="news__list-item">
                    <div class="news__list-item-image-wrapper">
                        <img src="{% static 'img/slider-bigs_1-goIsYxKN.png' %}" alt="Изображение новости">
                    </div>
                    <div class="news__list-item-content-wrapper">
                        <p class="news__list-item-date">01.02.2024</p>
                        <a class="news__list-item-link" href="#">
                            <h2 class="news__list-item-title">Сделали ремонт помещения для открытия новой аптеки Апрель в Краснодаре</h2>
                        </a>
                        <p class="news__list-item-text">
                            г.Краснодар, ул. Строителей, д. 5<br>Площадь помещения 50 м2</p>
                        <p class="news__list-item-text">
                            Подключение насоса. Монтаж систем отопления, канализации
                            и подачи воды.
                        </p>
                    </div>
                </li>
                <li class="news__list-item">
                    <div class="news__list-item-image-wrapper">
                        <img src="{% static 'img/slider-bigs_1-goIsYxKN.png' %}" alt="Изображение новости">
                    </div>
                    <div class="news__list-item-content-wrapper">
                        <p class="news__list-item-date">01.02.2024</p>
                        <a class="news__list-item-link" href="#">
                            <h2 class="news__list-item-title">Сделали ремонт помещения для открытия новой аптеки Апрель в Краснодаре</h2>
                        </a>
                        <p class="news__list-item-text">
                            г.Краснодар, ул. Строителей, д. 5<br>Площадь помещения 50 м2
                        </p>
                        <p class="news__list-item-text">
                            Подключение насоса. Монтаж систем отопления,
                            канализации и подачи воды.
                        </p>
                    </div>
                </li>
                <li class="news__list-item">
                    <div class="news__list-item-image-wrapper">
                        <img src="{% static 'img/slider-bigs_1-goIsYxKN.png' %}" alt="Изображение новости">
                    </div>
                    <div class="news__list-item-content-wrapper">
                        <p class="news__list-item-date">01.02.2024</p>
                        <a class="news__list-item-link" href="#">
                            <h2 class="news__list-item-title">
                                Сделали ремонт помещения для открытия новой
                                аптеки Апрель в Краснодаре
                            </h2>
                        </a>
                        <p class="news__list-item-text">
                            г.Краснодар, ул. Строителей, д. 5<br>Площадь помещения 50 м2
                        </p>
                        <p class="news__list-item-text">
                            Подключение насоса. Монтаж систем отопления,
                            канализации и подачи воды.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="news__pagination">
                <a class="news__pagination__item" href="#">&laquo;</a>
                <a class="news__pagination__item news__pagination__item--active" href="#">1 </a>
                <a class="news__pagination__item" href="#">2</a>
                <a class="news__pagination__item" href="#">3</a>
                <span class="news__pagination__item">...</span>
                <a class="news__pagination__item" href="#">6</a>
                <a class="news__pagination__item" href="#">&raquo;</a>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
