{% extends "base.html" %}
{% load static %}
{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}
{% block content %}
  <script src="{% static 'js/profile.js' %}"></script>
  <div class="container">
    <div>
        <h4>Страница пользователя {{ profile }}</h4>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="row">
          <div class="col-25">
            {{ field.label_tag }}
          </div>
          <div class="col-75">
            {% if field.name == 'phone_number' %}
              <input name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value }}" hidden>
              {{ field.value }}
              <button type="button" id="changePhoneNumber">Изменить</button>
              <p><strong>Внимание!</strong> После изменения номера телефона, вам придется подтвердить его.</p>
              <p><strong>Внимание!</strong> Вы можете изменить номер телефона не чаще чем 1 раз в месяц.</p>
            {% else %}
              {{ field }}
            {% endif %}
            {% if field.errors %}<small style="color: red">{{ field.errors }}</small>{% endif %}
          </div>
        </div>
        {% for error in field.errors %}<small>{{ error }}</small>{% endfor %}
      {% endfor %}
      <button type="submit">Сохранить</button>
    </form>
  </div>
{% endblock %}