{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}КДС-Строй: Личный кабинет{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/account-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/account-Q46edEp1.css' %}">
{% endblock %}
{% block content %}
<main>
    <section class="account">
        <div class="container account__container">
            <h2 class="account__title">Личный кабинет</h2>
            <form method="post" action="{% url 'users:profile' %}" class="account__form" id="accountForm" enctype="multipart/form-data">
                <div class="account__data">
                    <p class="account__data-text account__data-text--date">Дата регистрации: {{ profile.date_joined|date:"d.m.Y H:i" }}</p>
                    <p class="account__data-text">Login: {{ profile }}</p>
                    <a class="account__data-link" href="{% url 'password_change' %}">Изменить пароль</a>
                </div>
                <div class="account__form-container">
                    {% csrf_token %}
                    {% render_field form.first_name class="account__form-input" autocomplete="given-name" required="" %}
                    <div class="account__row account__row--name">
                      {% render_field form.last_name class="account__form-input" autocomplete="family-name" %}
                      {% render_field form.middle_name class="account__form-input" autocomplete="additional-name" %}
                    </div>
                    <div class="account__row account__row--contacts">
                      {% render_field form.phone_number class="account__form-input" autocomplete="tel" type="tel" data-tel-input="" required="" %}
                      {% render_field form.email class="account__form-input" autocomplete="email" type="email" required="" %}
                    </div>
                    <div class="account__row account__row--location">
                      {% render_field form.city class="account__form-input account__form-input--wide city-input" autocomplete="address-level"  autocomplete-url="/locations/autocomplete/" id="accountCity" %}
                    </div>
                    {% render_field form.address class="account__form-input" autocomplete="street-address" %}
                </div>
                <label class="account__form-agreement checkbox">
                    {{ form.is_notify }}
                    <span class="checkmark"></span>
                    Соглашаюсь получать письма на свой электронный адрес об акциях и новостях компании.
                </label>
                <div class="account__form-buttons">
                    <button class="account__form-button-delete" type="button">Удалить аккаунт</button>
                    <button class="account__form-button-save account__form-button-save button" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
    <section class="applications">
        <div class="container applications__container">
            <h2 class="applications__title">Заявки</h2>
            <h3 class="applications__subtitle">Выберите, чтобы открыть подробную информацию.</h3>
        </div>
        <div class="applications__list-header">
            <div class="applications__list-header-container container">
                <div class="applications__list-header-column">Заявка</div>
                <div class="applications__list-header-column">Дата заявки</div>
                <div class="applications__list-header-column">Комментарии</div>
                <div class="applications__list-header-column">Фотографии</div>
                <div class="applications__list-header-column">Стоимость</div>
                <div class="applications__list-header-column">Статус</div>
            </div>
        </div>
        <ul class="applications__list">
            {% for order in orders %}
                <li class="applications__list-item">
                    <div class="applications__list-item-container container">
                        <div class="applications__list-item-id">{{ order.order_id }}</div>
                        <div class="applications__list-item-date">{{ order.created_at|date:"d.m.Y" }}</div>
                        <div class="applications__list-item-description">{{ order.comment|default:"Нет комментария" }}</div>
                        <div class="applications__list-item-photos">
                        <ul class="applications__list-item-photos-list">
                            {% for photo in order.photos %}
                                <li class="applications__list-item-photo">
                                    <a href="{{ photo.photo.url }}" data-fancybox="application-{{ forloop.parentloop.counter }}">
                                        <img src="{{ photo.photo.url }}" alt="изображение слайда">
                                    </a>
                                </li>
                            {% endfor %}
                            {% if order.photos|length == 0 %}
                                <span class="applications__list-item-photos-empty">Нет фото</span>
                            {% else %}
                                <span class="applications__list-item-photos-count">{{ order.photos|length }}</span>
                            {% endif %}
                        </ul>
                    </div>
                        <div class="applications__list-item-price">{% if order.final_cost != 0 %}{{ order.final_cost|floatformat:"2" }} руб.{% if order.discount != 0 %}<br>Скидка {{ order.discount }}%{% endif %}{% else %}-{% endif %}</div>
                        <div class="applications__list-item-status">{{ order.status }}
{#                            <a class="applications__list-item-status-link" href="#">Оставить отзыв</a>#}
                        </div>
                    </div>  
                </li>
            {% empty %}
                <div class="container">
                    <div class="applications__empty-list">Нет заказов</div>
                </div>
            {% endfor %}
        </ul>
{#        <div class="applications__bottom">#}
{#            <div class="applications__bottom-container container">#}
{#                <div class="applications__pagination">#}
{#                    <a class="applications__pagination__item" href="#">&laquo;</a>#}
{#                    <a class="applications__pagination__item applications__pagination__item--active" href="#">1 </a>#}
{#                    <a class="applications__pagination__item" href="#">2</a>#}
{#                    <a class="applications__pagination__item" href="#">3</a>#}
{#                    <span class="applications__pagination__item">...</span>#}
{#                    <a class="applications__pagination__item" href="#">6</a>#}
{#                    <a class="applications__pagination__item" href="#">&raquo;</a>#}
{#                </div>#}
{#                <button class="applications__button button">Все заявки</button>#}
{#            </div>#}
{#        </div>#}
    </section>
</main>
{% endblock %}