{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}КДС-Строй: Личный кабинет{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/account-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/account-Q46edEp1.css' %}">
{% endblock %}
{% block content %}
<main>
    <section class="account">
        <div class="container account__container">
            <h2 class="account__title">Личный кабинет</h2>
            <form class="account__form" id="formAccount">
                <div class="account__data">
                    <p class="account__data-text account__data-text--date">Дата регистрации: {{ profile.date_joined }}</p>
                    <p class="account__data-text">Login: {{ profile }}</p>
                    <a class="account__data-link" href="{% url 'password_change' %}">Изменить пароль</a>
                </div>
                <div class="account__form-container">
                  <form method="post" action="{% url 'registration' %}" enctype="multipart/form-data" class="register__form">
                    <div class="register__form-container">
                      {% csrf_token %}
                      {% for field in form %}
                        {{ field|add_class:"account__form-input" }}
                        {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
                      {% endfor %}
                        {% if error %}<p>{{ error }}</p>{% endif %}
                    </div>
                  </form>
                </div>
{#                    <input class="account__form-input" type="text" name="name" placeholder="Имя*" required>#}
{#                    <div class="account__row account__row--name">#}
{#                        <input class="account__form-input" type="text" name="surname" placeholder="Фамилия">#}
{#                        <input class="account__form-input" type="text" name="second-surname" placeholder="Отчество">#}
{#                    </div>#}
{#                    <div class="account__row account__row--contacts">#}
{#                        <input class="account__form-input" type="tel" name="tel" placeholder="Телефон*" required>#}
{#                        <input class="account__form-input" type="email" name="email" placeholder="E-mail*" required>#}
{#                    </div>#}
{#                    <div class="account__row account__row--location">#}
{#                        <input class="account__form-input" type="text" name="region" placeholder="Регион">#}
{#                        <input class="account__form-input" type="text" name="city" placeholder="Город">#}
{#                    </div>#}
{#                    <input class="account__form-input account__form-input--wide" type="text" name="address" placeholder="Адрес">#}
{#                </div>#}
                <label class="account__form-agreement checkbox">
                    <input type="checkbox" name="account-checkbox">
                    <span class="checkmark"></span> Соглашаюсь получать письма на свой электронный адрес об акциях и новостях компании.
                </label>
                <div class="account__form-buttons">
                    <button class="account__form-button-delete" type="button">Удалить аккаунт</button>
                    <button class="account__form-button-edit button" type="button">Редактировать</button>
                    <button disabled class="account__form-button-save account__form-button-save--disabled button" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
    <section class="applications">
        <div class="container applications__container">
            <h2 class="applications__title">Заявки</h2>
            <h3 class="applications__subtitle">Выберите, чтобы открыть подробную информацию.</h3>
        </div>
        <div class="applications__list-header">
            <div class="applications__list-header-container container">
                <div class="applications__list-header-column">Заявка</div>
                <div class="applications__list-header-column">Дата заявки</div>
                <div class="applications__list-header-column">Комментарии</div>
                <div class="applications__list-header-column">Фотографии</div>
                <div class="applications__list-header-column">Стоимость</div>
                <div class="applications__list-header-column">Статус</div>
            </div>
        </div>
        <ul class="applications__list">
            <li class="applications__list-item applications__list-item--open">
                <div class="applications__list-item-container container">
                    <div class="applications__list-item-id">1550</div>
                    <div class="applications__list-item-date">01.01.2024</div>
                    <div class="applications__list-item-description">
                        Первые две строчки - порядка 50 символов, как здесь...
                        Первые две строчки - порядка 50 символов, как здесь...
                        Первые две строчки - порядка 50 символов, как здесь...
                        Первые две строчки - порядка 50 символов, как здесь...
                    </div>
                    <div class="applications__list-item-photos">
                        <ul class="applications__list-item-photos-list">
                            <li class="applications__list-item-photo">
                                <a href="{% static 'img/decoration-DJa75fdA.jpg' %}" data-fancybox="application-1">
                                    <span class="applications__list-item-photos-count">5</span>
                                    <img src="{% static 'img/decoration-DJa75fdA.jpg' %}" alt="изображение слайда">
                                </a>
                            </li>
                            <li class="applications__list-item-photo">
                                <a href="{% static 'img/decoration-DJa75fdA.jpg' %}" data-fancybox="application-1">
                                    <img src="{% static 'img/decoration-DJa75fdA.jpg' %}" alt="изображение слайда">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="applications__list-item-price">-</div>
                    <div class="applications__list-item-status">
                        Зарегистрирован
                        <a class="applications__list-item-status-link" href="#">Оставить отзыв</a>
                    </div>
                </div>
            </li>
            <li class="applications__list-item">
                <div class="applications__list-item-container container">
                    <div class="applications__list-item-id">1551</div>
                    <div class="applications__list-item-date">01.01.2024</div>
                    <div class="applications__list-item-description">
                        Первые две строчки - порядка 50 символов, как здесь...
                        Первые две строчки - порядка 50 символов
                    </div>
                    <div class="applications__list-item-photos">
                        <ul class="applications__list-item-photos-list">
                            <li class="applications__list-item-photo">
                                <a href="{% static 'img/decoration-DJa75fdA.jpg' %}" data-fancybox="application-2">
                                    <span class="applications__list-item-photos-count">5</span>
                                    <img src="{% static 'img/decoration-DJa75fdA.jpg' %}" alt="изображение слайда">
                                </a>
                            </li>
                            <li class="applications__list-item-photo">
                                <a href="{% static 'img/decoration-DJa75fdA.jpg' %}" data-fancybox="application-2">
                                    <img src="{% static 'img/decoration-DJa75fdA.jpg' %}" alt="изображение слайда">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="applications__list-item-price">-</div>
                    <div class="applications__list-item-status">
                        Ожидание мастера
                        <a class="applications__list-item-status-link" href="#">Оставить отзыв</a>
                    </div>
                </div>
            </li>
            <li class="applications__list-item applications__list-item--completed">
                <div class="applications__list-item-container container">
                    <div class="applications__list-item-id">1552</div>
                    <div class="applications__list-item-date">01.01.2024</div>
                    <div class="applications__list-item-description">
                        Первые две строчки - порядка 50 символов,
                    </div>
                    <div class="applications__list-item-photos">
                        <ul class="applications__list-item-photos-list">
                            <li class="applications__list-item-photo">
                                <a href=".{% static 'img/decoration-DJa75fdA.jpg' %}" data-fancybox="application-3">
                                    <span class="applications__list-item-photos-count">5</span>
                                    <img src="{% static 'img/decoration-DJa75fdA.jpg' %}" alt="изображение слайда">
                                </a>
                            </li>
                            <li class="applications__list-item-photo">
                                <a href="{% static 'img/decoration-DJa75fdA.jpg' %}" data-fancybox="application-3">
                                    <img src="{% static 'img/decoration-DJa75fdA.jpg' %}" alt="изображение слайда">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="applications__list-item-price">15 000,00 руб.</div>
                    <div class="applications__list-item-status applications__list-item-status--completed">
                        Выполнена
                        <a class="applications__list-item-status-link" href="#">Оставить отзыв</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="applications__bottom">
            <div class="applications__bottom-container container">
                <div class="applications__pagination">
                    <a class="applications__pagination__item" href="#">&laquo;</a>
                    <a class="applications__pagination__item applications__pagination__item--active" href="#">1 </a>
                    <a class="applications__pagination__item" href="#">2</a>
                    <a class="applications__pagination__item" href="#">3</a>
                    <span class="applications__pagination__item">...</span>
                    <a class="applications__pagination__item" href="#">6</a>
                    <a class="applications__pagination__item" href="#">&raquo;</a>
                </div>
                <button class="applications__button button">Все заявки</button>
            </div>
        </div>
    </section>
</main>
{% endblock %}