{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}КДС-Строй: Изменение email{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/common-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/common-page.css' %}">
{% endblock %}
{% block content %}
<main>
  <section>
    <div class="container">
      <h1 class="title">Изменение email</h1>
      <p>
         Введите новый email. 
      </p>
      <br>
      <form method="post">
        {% csrf_token %}
        {% render_field form.email type="email" placeholder=form.email.label class='simple_form-input'  autocomplete="email"  required="" %}
        {% if form.email.errors %}<p>{{ form.email.errors }}</p>{% endif %}
        <button class="simple_button" type="submit">Подтвердить</button>
      </form>
      <div><p><a href="{% url 'users:profile' %}">Личный кабинет</a></p></div>
      <div><p><a href="{% url 'home' %}">На главную</a></p></div>
    </div>
  </section>
</main>
{% endblock %}