{% extends "base.html" %}
{% load static %}
{% block title %}КДС-Строй: Удаление аккаунта{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/common-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/common-page.css' %}">
{% endblock %}
{% block content %}
<main>
  <section>
    <div class="container">
      <h1 class="title">Подтверждение удаления аккаунта!</h1>
      <p>
        Внимание! Вы собираетесь удалить аккаунт.
      </p>
      <br>
        <button>Удалить</button>
      <div><p><a href="{% url 'home' %}">На главную</a></p></div>
    </div>
  </section>
</main>
{% endblock %}