{% extends "base.html" %}
{% load static %}
{% block title %}КДС-Строй: Изменение номера телефона{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/common-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/common-page.css' %}">
{% endblock %}
{% block content %}
<main>
  <section>
    <div class="container">
      <h1 class="title">Ограничение на смену номера телефона</h1>
      <p>
        {% if limit == "time_limit" %}
            Вы превысили лимит на смену номера телефона, попробуйте позже. 
        {% elif limit == "number_limit" %}
            Вы превысили количество попыток на смену номера телефона, попробуйте позже. 
        {% endif %}
        <br>
        Вы можете обратитесь в нашу службу поддержки: <a href="mailto:support@kdsstroy.ru">support@kdsstroy.ru</a>
      </p>
      <br>
      <div><p><a href="{% url 'users:profile' %}">Личный кабинет</a></p></div>
      <div><p><a href="{% url 'home' %}">На главную</a></p></div>
    </div>
  </section>
</main>
{% endblock %}