{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}КДС-Строй: Подтверждение телефонного номера{% endblock %}
{% block plug_js_css %}
  <link rel="stylesheet" href="{% static 'css/phone_verification.css' %}">
  <script type="module" src="{% static 'js/pages/phone_verification-page.js' %}"></script>
{% endblock %}
<main>
    <section>
    <div class="container">
        <h1 class="pv__title">Подтверждение телефонного номера</h1>
        <p class="description">
            Для завершения вам нужно подтвердить ваш номер телефона.<br>
            Введите последние 4 цифры входящего номера.<br>
        </p><br>
        <p class="repeat_request">
            Запросить повторный звонок {% if countdown != 0 %}через:<br>{% endif %}
        </p>
        <div class="countdown_area">
          {% if not is_attempt_limit %}
            <span id="countdown" data-countdown-duration="{{ countdown }}"></span>
            <div id="linkContainer" style="display: none;">
              <button id="repeatCallButton">Повторный звонок</button>
            </div>
          {% else %}
            <p>Вы исчерпали количество попыток для подтверждения номера. Попробуйте позже.</p>
          {% endif %}
        </div>
        <form method="post" action="{% url 'users:phone_verification' %}" name="verifyForm">
          {% csrf_token %}
            <div class="inputs">
              <input type="text" name="n1" maxLength="1">
              <input type="text" name="n2" maxLength="1">
              <input type="text" name="n3" maxLength="1">
              <input type="text" name="n4" maxLength="1">
            </div>
          {% for field in form %}
            {{ field }}
            {% if field.errors %}
              <p>{{ field.errors }}</p>
            {% endif %}
          {% endfor %}
          <button type="submit">Подтвердить</button>
        </form>
    </div>
    </section>
</main>
{% endblock %}