{% extends "base.html" %}
{% load static %}
{% block title %}КДС-Строй: Регистрация{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/register-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/simple_page.css' %}">
{% endblock %}
{% block content %}
<main>
  <section>
    <div class="container">
      <h4>{{ new_user.first_name }}, ваш аккаунт успешно зарегистрирован</h4>
      <p>
          Теперь вы можете авторизоваться.
          <br>
          Также вам на почту отправлено письмо с подтверждением вашего электронного адреса.
          <br>
          Это нужно, что бы вы смогли восстановить доступ к своему аккаунту в случае если вы потеряли доступ к телефонному номеру или забыли пароль.
      </p>
      <br>
      <div><p><a href="{% url 'login' %}">Войти</a></p></div>
      <div><p><a href="{% url 'home' %}">На главную</a></p></div>
    </div>
  </section>
</main>
{% endblock %}