{% load static %}
{% load widget_tweaks %}
<div class="popup" id="popup-auth">
    <div class="container popup__container">
        <button class="popup__close" type="button" aria-label="Закрыть попап">&times;</button>
        <h2 class="popup__title">Вход в личный кабинет</h2>
        <form class="popup__form" action="{% url 'login' %}" id="formAuth" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% render_field field class="popup__form-input" placeholder=field.label %}
            {% endfor %}
            <div class="popup__form-buttons">
                <button class="popup__form-submit button" id="loginButton" type="submit" autofocus>Войти</button>
                <a class="popup__form-signup-link" href="{% url 'registration' %}">Зарегистрироваться</a>
            </div>
            <a class="popup__form-forgot-link" href="{% url 'password_reset' %}">Восстановить пароль</a>
        </form>
    </div>
</div>
