{% load static %}
<div class="popup" id="popup-logout">
    <div class="container popup__container">
        <button class="popup__close" type="button" aria-label="Закрыть попап">&times;</button>
        <h2 class="popup__title">Вы уверены, что хотите выйти?</h2>
        <form class="popup__form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <div class="popup__form-buttons">
                <button class="popup__form-submit button" id="logoutButton" type="submit" autofocus>Да</button>
                <button class="cancel_logout button" id="logoutCancelButton" type="button">Нет</button>
            </div>
        </form>
    </div>
</div>