{% load static %}
<div class="popup" id="popup-order">
    <div class="container popup__container" id="formOrder">
        <button class="popup__close" type="button" aria-label="Закрыть попап">&times;</button>
        <h3 class="order__form-title">Заявка на вызов мастера</h3>
        <h4 class="order__form-subtitle">Заполните форму и мы свяжемся с вами в течение 15 минут.</h4>
        <form action="" class="order__form-body" id="orderForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == "photo" %}
                    <input type="file" name="{{ field.name }}" id="fileInput" accept="image/*" multiple hidden>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div id="imagePreviewRow" class="image-preview-row">
                <div id="imagePreviews" class="image-previews"></div>
                <label for="fileInput" class="add-image-button" id="addImage">+</label>
                <label for="fileInput" class="add-image-text" id="addImageText">Добавьте фото</label>
            </div>
            <label class="order__form-agreement checkbox">
                <input type="checkbox" name="order-checkbox" required>
                <span class="checkmark"></span>
                <p>Я соглашаюсь на обработку персональных данных в соответствии с <a href="{% url 'personal_info_terms' %}">политикой конфиденциальности</a>.</p>
            </label>
            <button type="submit" class="order__form-submit button" id="orderSubmit">Оставить заявку</button>
        </form>
    </div>
</div>
