{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: #adb5bd">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="text-danger"><b>КДС</b></span>-Строй
      </a>
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'order:create' %}">Заказать</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news:list' %}">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">О нас</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'users:profile' %}">{{ user.first_name }}</a>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">Выйти</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>