{% load static %}
<header class="header">
    <div class="container">
        <div class="header_line">
            <div class="header_logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="kds-stroy"></a>
            </div>
            {% with request.resolver_match.view_name as view_name %}
                <div class="spacer"></div>
                <nav class="header_nav">
                    <a href="{% if view_name != 'home' %}{% url 'home' %}{% endif %}#services" id="headerServices">Услуги</a>
                    <a href="{% if view_name != 'home' %}{% url 'home' %}{% endif %}#work_steps" id="headerWorkSteps">Порядок работы</a>
                    <a href="{% url 'news:list' %}" {% if view_name == 'news:list'  %}class="header_underline"{% endif %}>Новости</a>
                </nav>
                <div class="spacer"></div>
                <div class="header_phone">
                    <a href="tel:+74951234567">+7(495) 123-45-67</a>
                </div>
                <div class="header_social">
                    <a href="whatsapp://send?phone=+74951234567"><img src="{% static 'img/whatsapp.png' %}" alt="whatsapp_logo"></a>
                    <a href="https://t.me/kds-stroy"><img src="{% static 'img/telegram.png' %}" alt="telegram_logo"></a>
                </div>
                <div class="header_button">
                    <button class="show_order_popup">Вызвать мастера</button>
                </div>
                {% if user.is_authenticated %}
                  <div class="header_account {% if view_name == 'users:profile' %}header_underline{% endif %}">
                      <a href="{% url 'users:profile' %}">{{ user.first_name }}</a>
                      <img id="show_logout_popup" class="exit_img" alt="Exit" src="{% static 'img/exit.png' %}">
                  </div>
                {% else %}
                  <div class="header_account">
                    <div class="show_login_popup">
                        <a>Войти</a>
                        <img class="enter_img" src="{% static 'img/default_userpic.png' %}" alt="userpic">
                    </div>
                  </div>
                {% endif %}
                <div class="header_menu">
                    <a href="#" id="menu" class="burger_icon">&#9776;</a>
                </div>
            {% endwith %}
        </div>
    </div>
</header>