{% load static %}
<div id="overlay" class="overlay"></div>
<div class="login_popup">
    <span class="close">&times;</span>
        <div class="form_content" id="formContent">
          <h3>Вход в личный кабинет</h3>
          {% include "includes/errors.html" %}
          <form method="post" action="{% url 'login' %}" id="loginForm">
            {% csrf_token %}
            {% for field in form %}
              {% if field.name == 'username' %}
                <input type="{{ field.type }}" name="username" autocomplete="username" required id="id_username" placeholder="E-mail/Логин*">
              {% else %}
                <input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Пароль*">
                {% endif %}
            {% endfor %}
            <div class="login_submit">
              <button type="submit" class="login_button" id="loginButton" autofocus>Войти</button>
              <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </div>
          </form>
          <div class="login_forgot">
            <a href="{% url 'password_reset' %}">Восстановить пароль</a>
          </div>
        </div>
    </div>
</div>
