{% load static %}
<div class="popup" id="popup-auth">
    <div class="container popup__container">
        <button class="popup__close" type="button" aria-label="Закрыть попап"></button>
        <h2 class="popup__title">Вход в личный кабинет</h2>
        <form class="popup__form" action="{% url 'login' %}" id="formAuth">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
                {% if field.errors %}
                    <div class="popup__form-error">{{ field.errors }}</div>
                {% endif %}
{#              {% if field.name == 'username' %}#}
{#                <label for="id_username"></label>#}
{#                <input class="popup__form-input" id="id_username" type="{{ field.type }}" name="login" autocomplete="tel" placeholder="Email или Телефон*" required>#}
{#              {% else %}#}
{#                <label for="id_password"></label>#}
{#                <input class="popup__form-input" id="id_password" type="password" name="password" placeholder="Пароль*" required>#}
{#              {% endif %}#}
            {% endfor %}
            <div class="popup__form-buttons">
                <button class="popup__form-submit button" id="loginButton" type="submit" autofocus>Войти</button>
                <a class="popup__form-signup-link" href="{% url 'registration' %}">Зарегистрироваться</a>
            </div>
            <a class="popup__form-forgot-link" href="{% url 'password_reset' %}">Восстановить пароль</a>
        </form>
    </div>
</div>
