{% load static %}
<div id="overlay" class="overlay"></div>
<div class="order_popup">
    <span class="close">&times;</span>
    <div class="form_content" id="formContent">
        <h3>Заявка на вызов мастера</h3>
        <p>Заполните форму и мы свяжемся с вами в течение 15 минут.</p>
        <form action="" id="orderForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <div id="imagePreviewRow" class="image-preview-row">
                <div id="imagePreviews" class="image-previews"></div>
                <label for="id_photo" class="add-image-button" id='addImage'>+</label>
                <label for="id_photo" class="add-image-text" id='addImageText'>Добавьте фото</label>
{#                <input type="file" id="fileInput" accept="image/*" multiple style="display: none;">#}
            </div>
            <div class="personal_info_agree">
                <input type="checkbox" id="checkBox" name="checkbox">
                <label for="checkBox">Я соглашаюсь на обработку персональных данных в соответствии с <a href="{% url 'personal_info_terms' %}">политикой конфиденциальности</a>.</label>
            </div>
            <button type="submit" class="order_button" id="orderButton" disabled>Оставить заявку</button>
        </form>
    </div>
</div>
