{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}КДС-Строй: Смена пароля{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/common-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/common-page.css' %}">
{% endblock %}
{% block content %}
<main>
  <section>
    <div class="container">
      <h1 class="title">Смена пароля</h1>
      <p>
         Введите старый, новый пароль и подтверждение нового пароля. 
      </p>
      <br>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {% render_field field placeholder=field.label class='simple_form-input' %}
          {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
        {% endfor %}
        <button class="simple_button" type="submit">Поменять пароль</button>
      </form>
      <div><p><a href="{% url 'users:profile' %}">Личный кабинет</a></p></div>
      <div><p><a href="{% url 'home' %}">На главную</a></p></div>
    </div>
  </section>
</main>
{% endblock %}