{% extends "base.html" %}
{% load static %}
{% block title %}КДС-Строй: Сброс пароля{% endblock %}
{% block plug_js_css %}
    <script type="module" crossorigin src="{% static 'js/pages/common-page.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/common-page.css' %}">
{% endblock %}
{% block content %}
<main>
  <section>
    <div class="container">
      <h1 class="title">Сброс пароля</h1>
      <p>
          Мы отправили вам инструкцию по установке нового пароля
          на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
          Вы должны получить ее в ближайшее время.
      </p>
      <p>
          Если вы не получили письмо, пожалуйста,
          убедитесь, что вы ввели адрес с которым вы зарегистрировались,
          и проверьте папку со спамом.
      </p>
      <br>
      <div><p><a href="{% url 'home' %}">На главную</a></p></div>
    </div>
  </section>
</main>
{% endblock %}