{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>КДС-Строй: Страница не найдена</title>
    <script type="module" crossorigin src="{% static 'js/utils/modulepreload-polyfill.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/404-D1fp-0uF.css' %}">
</head>
<body class="body">
<main class="not-found-main">
    <section class="not-found">
        <div class="container not-found__container"><h1 class="not-found__title">Страница не найдена ...</h1>
            <p class="not-found__description">Возможно, адрес указан неверно.</p>
            <p class="not-found__description">Переходите на главную страницу, чтобы получить всю информацию.</p>
            <a href="{% url 'home' %}" class="not-found__link button">Перейти на главную</a>
        </div>
    </section>
</main>
</body>
</html>