{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    {% block plug_js_css %}{% endblock %}
    <link rel="modulepreload" crossorigin href="{% static 'js/utils/modulepreload-polyfill.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'js/utils/orders.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'js/utils/base.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'js/utils/popups.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'js/utils/showcase-modal.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'js/utils/sliders.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'js/utils/input-phone-mask.js' %}">
    <link rel="stylesheet" crossorigin href="{% static 'css/showcaseModal-DZwIPjuC.css' %}">
    <link rel="stylesheet" crossorigin href="{% static 'css/sliders-4DNxUV-Y.css' %}">
  </head>
  <body class="body">
    {% include "includes/header.html" %}
    {% block content %}{% endblock %}
    {% include "includes/footer.html" %}
    {% include "includes/order_popup.html" with form=order_form %}
    {% include "includes/status_message_popup.html" %}
    {% include "includes/cookie_banner.html" %}
    {% include "includes/promotion_banner.html" %}
    {% if view_name == 'MainView' %}
        {% include "includes/news_subscribe_popup.html" %}
    {% endif %}
{#    {% if not user.is_authenticated %}#}
{#      {% include "includes/login_popup.html" with form=login_form %}#}
{#    {% else %}#}
{#      {% include "includes/logout_popup.html" %}#}
{#    {% endif %}#}
  </body>
</html>