p {
    margin-top: 16px;
}

section {
    padding-top: 110px;
}

.simple_button {
    text-align: center;
    outline: none;
    border: 2px solid #c82027;
    border-radius: 9px;
    background-color: #ffffff00;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 30px;
    margin: 30px 0;
}

.simple_button:hover {
    color: #fff;
    background-color: #c82027;
}

.title {
    font-weight: 500;
    font-size: 35px;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

.subtitle {
    font-weight: 300;
    font-size: 22px;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

.confirm_button {
    background-color: #c82027;
    color: white;
    text-decoration: none;
}

.confirm_button:hover {
    background-color: white;
    color: black;
}

.refuse_button {
    background-color: gray;
    color: white;
    text-decoration: none;
    border-color: gray;
}
.refuse_button:hover {
    background-color: white;
    color: black;
}

.simple_block {
    position: relative;
    align-content: center;
    margin-top: 60px;
}
.simple_form-input {
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 19px 17px 15px 17px;
    border-radius: 5px;
    color: #333333;
    margin-top: 10px;
}