.news {
  padding: 120px 0;
}
.news__list-item-link {
  color: #333333;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.news__list-item-link:hover {
  opacity: 0.5;
}
.news__title {
  font-weight: 500;
  font-size: 35px;
  letter-spacing: -0.03em;
  margin-bottom: 70px;
}
.news__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.news__controls-date {
  border: none;
  outline: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 16px 26px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.news__controls-date:hover {
  opacity: 0.5;
}
.news__controls-date::after {
  content: "";
  display: block;
  width: 15px;
  height: 21px;
  background: url("data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M7.29289%2020.7071C7.68342%2021.0976%208.31658%2021.0976%208.70711%2020.7071L15.0711%2014.3431C15.4616%2013.9526%2015.4616%2013.3195%2015.0711%2012.9289C14.6805%2012.5384%2014.0474%2012.5384%2013.6569%2012.9289L8%2018.5858L2.34315%2012.9289C1.95262%2012.5384%201.31946%2012.5384%200.928932%2012.9289C0.538408%2013.3195%200.538408%2013.9526%200.928932%2014.3431L7.29289%2020.7071ZM9%2020L9%200H7L7%2020H9Z'%20fill='%23656565'/%3e%3c/svg%3e") center/cover no-repeat;
}
.news__controls-date.rotated::after {
  transform: rotate(180deg);
}
.news__controls-date--reverse::after {
  transform: rotate(180deg);
}
.news__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 70px;
}
.news__list-item {
  display: flex;
  gap: 33px;
}
.news__list-item-content-wrapper {
  flex: 2;
}
.news__list-item-image-wrapper {
  width: 100%;
  max-width: 380px;
  max-height: 270px;
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
}
.news__list-item-image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__list-item-date {
  padding: 10px;
  max-width: max-content;
  letter-spacing: -0.03em;
  color: #656565;
  background-color: #fff;
  margin-bottom: 22px;
}
.news__list-item-title {
  font-weight: 500;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}
.news__list-item-text {
  letter-spacing: -0.03em;
  color: #656565;
  word-break: break-word;
}

.news__list-item-text  * {
  font: revert;
  font-size: revert;
  list-style: revert;
  line-height: 1.25;
}
.news__list-item-text:not(:last-child) {
  margin-bottom: 24px;
}
.news__pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.news__pagination__item {
  color: #333333;
  padding: 8px 16px;
  text-decoration: none;
}
.news__pagination__item--active {
  background-color: #c82027;
  color: #fff;
  border-radius: 5px;
}
.news__pagination__item:hover:not(.applications__pagination__item--active) {
  background-color: #ddd;
  border-radius: 5px;
}
@media (max-width: 1023px) {
  .news__title {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .news__controls {
    margin-bottom: 75px;
  }
  .news__controls-date {
    gap: 25px;
    font-weight: 500;
    font-size: 16px;
  }
  .news__controls-date::after {
    width: 10px;
    height: 15px;
  }
  .news__list {
    gap: 45px;
  }
  .news__list-item-date {
    margin-bottom: 35px;
  }
  .news__list-item-title {
    margin-bottom: 25px;
  }
  .news__list-item-text:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 639px) {
  .news__title {
    margin-bottom: 15px;
  }
  .news__controls {
    margin-bottom: 45px;
  }
  .news__controls-date {
    padding: 14px;
    gap: 25px;
    font-weight: 500;
    font-size: 15px;
  }
  .news__list {
    gap: 60px;
  }
  .news__list-item {
    position: relative;
    flex-direction: column;
    gap: 25px;
  }
  .news__list-item-date {
    font-size: 15px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 5px 0;
  }
  .news__list-item-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .news__list-item-text {
    font-size: 15px;
  }
  .news__list-item-text:not(:last-child) {
    margin-bottom: 0;
  }
}